<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageWorx\SeoXTemplates\Model\ResourceModel\Category">
        <plugin name="pc-mageworx-templates-category-fix" type="Pc\MageworxTemplatesFix\Plugin\Model\ResourceModel\CategoryPlugin" sortOrder="10" disabled="false" />
    </type>
</config>
